

<p class="pageHeader">Edit Department</p>

<form action="/departments/edit" method="post">
    <h1>Department is: $departmentEdit.getTitle() </h1>

    <label for="title">Title:</label>
    <input class="inputbox" type="text" name="title" required="true">
    <input type="submit" value="Update" class="button">
</form>
