

<p class="pageHeader">New Employees</p>

<form action="/departments" method="post">
    <label for="title">Title:</label>
    <input class="inputbox" type="text" name="title" required="true">
    <input type="submit" value="Save" class="button">
</form>
