<div class="container">
    <table>
        <h2>Employee $employeeById</h2>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
            <th>Salary (£)</th>
        </tr>
        <tr>
            <td>$employeeById.getFirstName()</td>
            <td>$employeeById.getLastName()</td>
            <td>$employeeById.getDepartment().getTitle()</td>
            <td>$employeeById.getSalary()</td>
        <tr>
    </table>
</div>